<!-- templates/crispy_signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form style="text-align: right" action="{% url "register_information" platform username %}" method="post" accept-charset="UTF-8">
    {% load static %}
    {% csrf_token %}
    {% load jalali_tags %}
        <p>{{ request.user.date_joined|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</p>
		<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
        {% for field in form %}
            <div class="form-group" class="col-sm-2 control-label">
                {{ field|as_crispy_field}}
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
    </form>
{% endblock %}