body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  margin-top: 20vh;
}

h1 {
  color: #336699;
  font-size: 3em;
}

p {
  color: #666;
  font-size: 1.5em;
}
